* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    overflow-y: auto;
    overflow-x: hidden;
}

section#hero {
    min-height: 100vh;
    color: white;
    background-attachment: fixed;
    display: flex;
    flex-direction: column; /* Change to column for better mobile support */
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.397), rgba(0, 0, 0, 0.384)), url('./images/parkview3.jpg') no-repeat center center / cover;
    padding: 2rem; /* Add padding for better spacing on small screens */
}

.h1-text {
    text-align: center; /* Center text on all screens */
    color: white;
    font-size: 4rem;
    font-family: Poppins;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 1rem; 
    z-index: 1; 
    padding-top: 5rem; 
}

.short-desc {
    max-width: 30rem;
    text-align: center; 
    color: white;
    font-size: 1.1em;
    font-family: Poppins;
    font-weight: 500;
    margin-bottom: 2rem; 
    z-index: 1; /* Ensure it stays above the header */
    padding-top: 2rem; 
}

.calendar iframe {
    border: 0;
    width: 100%;
    height: auto;
    max-width: 650px;
    max-height: 500px;
    margin: 0 auto; 
    z-index: 1; 
}

@media (max-width: 700px) {
    .h1-text {
        font-size: 2.5rem; 
        padding-top: 7rem; 
    }

    .short-desc {
        font-size: 1em; 
        padding-top: 1rem; 
    }

    .calendar iframe {
        width: 100%;
        height: 400px;
    }
}

@media (max-height: 768px) {
    div#header {
        position: absolute;
        width: 100%;
        z-index: 2;
    }
}

@media (max-width: 768px) and (max-height: 768px) {
    .short-desc {
        display: none; /* hides short desc */
    }

    .h1-text {
        padding-top: 8rem; 
    }

    .calendar iframe {
        margin-top: 2rem; 
    }
}
